<% content_for :header do %>
<%= render "common/home_header" %>
<%end%>

<h1>Add Your Product Listing</h1>
<hr><br/>

<div id = "product_new">

<%= form_for(:product_listing, :html => {:target => '_parent'}, :url => {:action => 'save_listing', :id => @scrap_id}) do |f| %>

	<%= render(:partial => "listing_form", :locals => {:f => f})%>

	<div class="form-buttons"><%= submit_tag("List")%></div>

<% end %>

</div>
