<% content_for :header do %>
<%= render "common/home_header" %>
<%end%>

<h2>Are you sure you want to delete your scrap?</h2>


<table summary = "delete scrap confirmation">
	<tr>
		<th> <%= link_to('Yes', {:action => 'destroy_scrap', :id => params[:id]})%></th>
		<th> <%= link_to('No', {:action => 'view_collection', :controller => 'collection'})%></th>
	</tr>
</table>
<br/><br/>