<h2>Are you sure you want to delete your profile?</h2>


<table summary = "delete profile confirmation">
	<tr>
		<th> <%= link_to('Yes', {:action => 'destroy_profile'})%></th>
		<th> <%= link_to('No', {:action => 'profile'})%></th>

	</tr>
</table>
<br/><br/>
