<% @page_title ="Edit Profile"%>
<h1>Edit Profile</h1>
<hr><br>

<div class = "user_edit">

<%= form_for(:user, :url => {:action => 'update'}) do |f| %>

<%= render(:partial => "access/profile_form", :locals => {:f => f, :password_display => false})%>	

<%= submit_tag "update", :class=>'button'%>

<% end %>


 <br><br><br>

<span style='text-decoration:underline'>
<%= link_to 'Delete Profile', :action => 'delete', :controller => 'access'%>

</span>


</div>


