<h1>Scrap Something</h1>

<hr><br/><br/>

<table summary = "log in / sign up">
	<tr>
		<th> <%= link_to('Sign Up', {:action => 'signup'})%></th>
		<th> <%= link_to('Log In', {:action => 'login'})%></th>

	</tr>
</table>
<br/><br/>

</div>