<table summary = "log in / sign up">
	<tr>
		<th> <%= link_to('Sign Up', {:action => 'signup', :controller => 'access'})%></th>
		<th> <%= link_to('Log In', {:action => 'login', :controller => 'access'})%></th>
	</tr>
</table>
<br/><br/>


<span style='text-decoration:underline'><%= link_to("no thanks. I just want to browse", {:action => 'browse_collection', :controller => "collection"})%></span>
