<% @page_title ="Sign Up"%>

<h1>Sign Up</h1>
<hr><br/>

<div class = "user_new">

<%= form_for(:user, :url => {:action => 'create'}) do |f| %>

	<%= render(:partial => "profile_form", :locals => {:f => f})%>

	<%= submit_tag "sign up", :class=>'button'%>

<% end %>

</div>

<br/><br/>

<div id ="navigation_link"> <%= link_to('Log in', {:action => 'login'})%> </div>
