<% @page_title ="Sign Up"%>

<h2>Upload a profile pic </h2>

<hr>
<br/><br/>

<%= form_for(:user, :url => {:action => 'update_profile_pic'}, :html => { :multipart => true, :id => "form" }) do |f| %>
	<%= f.file_field :avatar %>
	<br/><br/><br/>
	<%= submit_tag "save", :class=>'button'%>
<% end %>

<br/><br/>

<span style='text-decoration:underline'><%= link_to("no thanks.", {:action => 'profile'})%></span>



