<% if !selected_collection.blank?%>
<div class = "my_scrap">
	<%= render(:partial => "collection_view", :locals => {:images => selected_collection, :images_per_row => 3, :link_description => "remove bookmark", :method => "remove_bookmark"})%>
</div>

<%else%>

<%if (scrap_total.to_i == 0) %>
<div id = "instruction">	
	<br><br><br><br>
	<h2 style = "font-weight:normal; margin-left: -200px">You have a pretty clean slate. 
	<br/>
		<%= link_to('add a scrap', {:action => 'upload_scrap', :controller => 'scrap'})%> or 
		<%= link_to('explore', {:action => 'browse_collection'})%> 	</h2>
</div>

<%else%>


<div class="notice">
	<% if !flash[:notice].blank?%>
	<%= flash[:notice]%>
	<%end%>
</div>

<%end%>

<%end%>