<table summary ="collection view">
	<tr>
		<% images.each_with_index do |image, index|%>
		<% if !image.blank? %>
		<th> <%= link_to image_tag(image.photo.url(:medium)), {:action => detail, :id => image.id}%> <br/>
			<div id = 'scrap_name'><%= image.name %></div>
			<% if (index+1)%4==0 %>
		</th></tr><tr>
			<% end %>		
			<%end%>
		<%end%>
	</th></tr>
</table>