$('#center_panel_content').html('');

<%if @selected_collection.size == 0%>
$('<div style="margin:30px" class="alert alert-info">sorry, nothing found</div>').appendTo('#center_panel_content').hide().fadeIn('300');

<%else%>
$('<%= escape_javascript(render(:partial => "collection/partials/collection_view", :locals => {:images => @selected_collection}))%>').appendTo('#center_panel_content').hide().fadeIn('300');

<%end%>

// scrap hover 
$(".scrap_asset").hover(function() {
	$(this).siblings(".scrap_hover").fadeIn();	
});

$(".scrap_block").mouseleave(function() {
	$(this).children(".scrap_hover").fadeOut();		
});
