<div id="image"></div>

<%= link_to "Add to cart",
 	{:action => 'view_collection'},
	:remote => true,
	:confirm => "hello?",
	:disable_with => 'loading...'
%>


<%= link_to 'roar', '#', :onclick => "show_pic()" %>

<%=link_to "Visit Other Site", "http://www.rubyonrails.org/", :confirm => "Are you sure?"%>
