<table class="collection_details">
	<tr>
		<th>
			<%= link_to('Edit', {:action => 'edit_scrap', :controller => 'scrap', :id => @scrap.id})%><br/><br/><br/>
			<div id = "delete_scrap"><%= link_to('Delete', {:action => 'delete_scrap', :controller => 'scrap', :id => @scrap.id})%></div></th>
