<div id ="holder"></div>
<div class="overlay"></div>

<div id="left_panel">
	<%= render(:partial => "left_panel", :locals => {:user => @user, :categories => @categories, :scrap_total => @scrap_total})%>
</div>

<div id="center_top_panel">
	<%= render(:partial => "center_top_panel", :locals => {:user => @user, :tabs => @tabs})%>
</div>


<div id="center_panel">
	<%= render(:partial => "center_panel", :locals => {:selected_collection => @selected_collection, :scrap_total => @scrap_total})%>
</div>