<div class="mainpage" style="min-width: 1400px">

<div id="catalog">
	<p class='lead'>catalog</p><hr>
	<ul id="selection">
		<% @images.each_with_index do |image, index|%>
		<li style="float: left"><%=image_tag(image.photo.url(:medium), {:class => "small"})%></li>
		<% if (index+1)%5==0 %>
		<br>
		<%end%>
		<%end%>

	</ul>
</div>

<div id="vision_board" style="background-color: white;">
	<p class='lead'>create a collage</p>
	<hr>
	<div id="image-area">
		<span class="placeholder">Add your items here</span>
	</div>
</div>

<div id="control" style="float:left; margin:30px; text-align:left;">
	<%= link_to(raw('<i class="icon-file"> save to binder</i>'), "#", {:style => 'font-size: 16px;', :id => "confirm_save", :remote => true})%> <br><br>

	<%= link_to(raw('<i class="icon-repeat"> start over</i>'), {}, {:style => 'font-size: 16px;'})%><br><br>

	<%= link_to(raw('<i class="icon-share"> export to image</i>'), "#", {:style => 'font-size: 16px', :id => "export", :remote => true})%> <br>		

	<canvas id="myCanvas" width="700" height="600" style="border:1px solid #d3d3d3; display:none"></canvas>
</div>

</div>