<div id='center_panel_content'>
<% if !@selected_collection.blank?%>

<div class = "my_scrap">
	<%= render(:partial => "collection_view", :locals => {:images => selected_collection, :images_per_row => 3, :link_description => "remove bookmark", :method => "remove_bookmark"})%>
</div>

<%else%>
<div id = "instruction">	
	<br><br><br><br>
	<h2 style = "font-weight:normal; margin-left: -200px">You have a pretty clean slate. 
		<br/>
		<%= link_to('add a scrap', {:action => 'upload_scrap', :controller => 'scrap'}, {:rel => "tooltip", :title=> "upload images."})%> or 
		<%= link_to('explore', {:action => 'browse_collection'}, {:rel => "tooltip", :title=> "bookmark images."})%> 	</h2>
	</div>

	<%end%>
</div>