<div class="hero-unit" style="background-color:#FFffff">
	<h1>The ultimate wedding planner.</h1>
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<h3>
			<div class="carousel-inner">
				<div class="active item">Browse thousands of pictures from real vendors</div>
				<div class="item">Add pictures from desktop, phone, and other sites</div>
				<div class="item">Organize your wedding</div>
			</div>
		</h3>
	</div>
	<br>
	<p>
		<a class="btn btn-primary btn-large" href="/access/signup">
			Sign Up
		</a>
		<a class="btn btn-link btn-large" href="/access/login">
			Log In
		</a>
	</p> <br>
</div> <hr>