#collection_table {margin-left:18%}

.scrap_block {
	float:left;
	overflow:hidden;
	height:330px;
	margin: 10px 15px;
	padding:5px 5px 5px 5px;
	border:solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 2px 2px 1px;
	background-color:#FFFFFF;
}

.scrap_block img:hover {
	cursor:crosshair;
}

.scrap_edit {
	position:relative;
	float:right;
	margin-top:-304px;
	z-index:5000;
	background:white;
	display:none;
/*	background:url(http://aux.iconpedia.net/uploads/1471978810475883531.png);*/
}

.scrap_asset img{
	/* This centers the image */
	margin-left: auto;
	margin-right: auto;
	

	/* This adds the border */	
}

.scrap_name {
	position:relative;
	z-index:5000;
	background-color:none;
	border:none;
}

.collection_name{font-variant: small-caps; font-size: 1.5em;}
.collection_name:hover{text-decoration:underline;}

#instruction {
	resize: none;
	position:absolute;
	top:35%;
	font-size:30px;
	min-width: 600px;
	margin-right: 30%;
	margin-left:30%;
}

#instruction a{
	font-size:35px;
	font-variant: small-caps;
	text-decoration: underline;
}


/* remove the list style */
#nav {
	margin:0; 
	padding:0; 
	list-style:none;
}   

/* make the LI display inline */
/* it's position relative so that position absolute */
/* can be used in submenu */
#nav li {
	float:right; 
	display:block; 
	width:100px; 
	position:relative;
	z-index:500; 
	margin:0 -20px;
	top:2px;
}

/* this is the parent menu */
#nav li a {
	display:block; 
	height:23px; 
	text-decoration:none; 
	color:#ffffff; 
	text-align:center; 	
}

#nav li a:hover {
	color:#fff;
}

/* submenu, it's hidden by default */
#nav ul {
	position:absolute; 
	left:0; 
	display:none; 
	margin:0 0 0 20px; 
	padding:0; 
	list-style:none;
}

#nav ul li {
	width:100px; 
	float:left; 
}

/* display block will make the link fill the whole area of LI */
#nav ul a {
	display:block;  
	height:15px;
	color:#666;
}

#nav ul a:hover {
	text-decoration:underline; 
	 color:#666;
}