.scrap_block {
	float:left;
	overflow:hidden;
	height:330px;
	margin: 10px 15px;
	padding:5px 5px 5px 5px;
	border:solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 2px 2px 1px;
	background-color:#FFFFFF;
}

.scrap_asset img{
	margin-left: auto;
	margin-right: auto;
}
.scrap_block img:hover {
	cursor:crosshair;
}

.scrap_block a:hover {
	text-decoration: none;
}

.edit_icon {
	position:relative;
	float:right;
	margin-top:-304px;
	width:200px;
	z-index:50;
	background:white;
	display:none;
	text-align: right;
}


.scrap_name {
	position:relative;
	z-index:500;
	border:none;
}

#instruction p{
	position:relative;
	top:25%;
	font-size:30px;
	min-width: 600px;
	margin-left:-500px;
}

#instruction a{
	font-size:30px;
	text-decoration: underline;
	font-weight:bold;
}
