<div style="min-width: 960px; margin: 0 auto;">	

<div id="account_menu">
<table summary = "account menu">
	<tr>
		<th> <%= link_to('Account', {:controller => 'access', :action => 'profile'}, :id => 'account_link')%></th>
		<th> <%= link_to('Log out', {:controller => 'access', :action => 'logout'}, :id => 'logout_link')%></th>
	</tr>
</table>
</div>
<br/><br/>

<div id="collection_edit_menu">
<table summary = "edit menu">
	<tr> <th><%= link_to('+Scrap', {:action => 'add_scrap', :controller => 'scrap'})%></th>
	<th><%= link_to('+Plan', {:action => 'add_plan'})%></th>
</table>
<br/><br/>
</div>