<table class = "header_menu">
	
	<tr><th><div id="big_menu"> <%= link_to_unless_current('Home', {:action => 'view_collection', :controller => 'collection'})%> </div></th>
	<th><div class = "big_white_divider"> | </div></th> 
	<th><div id="small_menu"> <%= link_to('Explore', {:action => 'browse_collection', :controller => 'collection'})%> </div></th></tr>

</table>
